#!/usr/bin/env bash
TSTAMP=$(date -u +%Y%m%d%H%M%S)
BKP_DIR={{ mongodb_backup_path }}
BPK_NAME="{{ mongodb_backup_file_prefix }}_dump_${TSTAMP}"
mongodump \
    --verbose \
    --host={{ mongodb_backup_db_addr | mandatory }} \
    --port={{ mongodb_backup_db_port | mandatory }} \
    --username={{ mongodb_backup_db_user | mandatory }} \
    --password={{ mongodb_backup_db_pass | mandatory }} \
    --db={{ mongodb_backup_db_name | mandatory }} \
    --authenticationDatabase={{ mongodb_backup_db_name | mandatory }} \
    --out="${BKP_DIR}/${BPK_NAME}"
tar czf "${BKP_DIR}/${BPK_NAME}.tar.gz" "${BKP_DIR}/${BPK_NAME}"
rm -fr "${BKP_DIR}/${BPK_NAME}"
